extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
        for item in data
            li
                - var url = '/item/' + item.id
                a(href=url)= item.name + ' ' + item.priceEur