extends layout

block content
    h1= title
    p Welcome to #{title}
    a(href='/new')
        button(class='btn btn-primary') Add new item
    ul(class="list-group")
        for item in data
            li(class="list-group-item")
                - var url = '/item/' + item.id
                a(href=url)= item.name + ' ' + item.priceEur

    ul(class="list-unstyled list-currencies")
        for currency in Object.keys(currencies.rates)
            li
                a(href='/items?cu=' + currency) #{currency} &nbsp;&nbsp;&nbsp;
