extends layout

block content
    h1= title
    p Welcome to #{title}
    ul
        for item in data
            li
                - var url = '/detail/' + item.name
                a(href=url)= item.name + ' ' + item.priceEur
    ul
        for currency in Object.keys(currencies.rates)
            li
                a(href='/list?cu='+currency) #{currency}