extends layout

block content
    h1= title
    a(href='/items') Retour à la liste
    form(action='/new', method='POST')
        div(class='form-group')
            | Name:
            input(type='text', name='name', value='', class='form-control', required='true')
            br
            br
            | Price in euro:
            input(type='text', name='priceEur', value='', class='form-control', required='true')
            input(type='submit', value='Submit', class='form-control')
