div#footer
    div.headline
        h1
            i(class='icon-star opacity-large')
            i(class='icon-star opacity-medium')
            i(class='icon-star opacity-medium')
            i(class='icon-star opacity-small')
                |
                | Money Currency
            i(class='icon-star opacity-small')
            i(class='icon-star opacity-medium')
            i(class='icon-star opacity-medium')
            i(class='icon-star opacity-large')
        span contact :

            a(href="mailto:erik@rixo.fr") MoneySupport
script(src='scripts/jquery-3.3.1.js')