div.headline
    h1
        i(class='icon-star opacity-large')
        i(class='icon-star opacity-medium')
        i(class='icon-star opacity-medium')
        i(class='icon-star opacity-small')
            |
            | Money Currency
            |
        i(class='icon-star opacity-small')
        i(class='icon-star opacity-medium')
        i(class='icon-star opacity-medium')
        i(class='icon-star opacity-large')